{% extends 'base.html' %}
{% block content %}
<div class="row photo-list">
  <div class="col-6 offset-md-3 edit-set">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-12 no-padding">
        <small class="card mb-3">
          <img src="{{object.photo.url}}" class="card-img-top" alt="{{object}}">
        </small>
      </div>
      <div class="button-set">
        <a class="btn btn-link" value="Confirm" href="/">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Editar">
      </div>
    </form>
  </div>
</div>
{% endblock %}